
- breadcrumb :exhibited
= render 'shared/breadcrumbs'
%main.main__contents
  .main__contents__contents
    = render 'shared/exhibit-now'
  = render 'shared/mypage-side-manu'
= render 'shared/main_footer_image'