%main.main__contents
  .main__contents__contents
    -# = render 'shared/mypage-user-image'
    -# = render 'shared/mypage-user-info-todo'
    = render 'shared/exhibit-now'
  = render 'shared/mypage-side-manu'
= render 'shared/main_footer_image'