- breadcrumb :logout
= render 'shared/breadcrumbs'
%main.main__contents
  = render "/shared/mypage-side-manu"
  .main__contents__contents
    .logout-content
      .inner-content
        .button-content
          =link_to 'ログアウト',destroy_user_session_path,method: :delete, class: "logout-content"