%main.main__contents
  = render "/shared/mypage-side-manu"
  .main__contents__contents
    .logout-content
      .inner-content
        .button-content
          =link_to 'ログアウト','/users/sign_out',method: :delete, class: "logout-content"