.box__contents__content
  %a.contentlink
    %figure.figure
      %figcaption
        %span
          = item.description
      .tag
        %span{"aria-label" => "Price"} ¥ #{item.price}
        = image_tag "#{item.pictures.first.name}", class: 'tag__image'

-# .box__contents__content
-#   %a.contentlink
-#     %figure.figure
-#       %figcaption
-#         %span
-#           111
-#       .tag
-#         %span{"aria-label" => "Price"} ¥5,555
-#         %img.tag__image{:alt => "", :src => "test_content.jpg"}/