.new
  .item
    .top
      %h3.item__top__ladies
        レディース新着アイテム
      %a.item__top__mottomiru もっと見る
    .box
      .box__contents
        = render partial: 'shared/content'
        = render partial: 'shared/content'