.box__contents__content
  %a.contentlink
    %figure.figure
      %figcaption
        %span
          111
      .tag
        %span{"aria-label" => "Price"} ¥5,555
        .tag__image
.box__contents__content
  %a.contentlink
    %figure.figure
      %figcaption
        %span
          111
      .tag
        %span{"aria-label" => "Price"} ¥5,555
        .tag__image
.box__contents__content
  %a.contentlink
    %figure.figure
      %figcaption
        %span
          111
      .tag
        %span{"aria-label" => "Price"} ¥5,555
        .tag__image
.box__contents__content
  %a.contentlink
    %figure.figure
      %figcaption
        %span
          111
      .tag
        %span{"aria-label" => "Price"} ¥5,555
        .tag__image
.box__contents__content
  %a.contentlink
    %figure.figure
      %figcaption
        %span
          111
      .tag
        %span{"aria-label" => "Price"} ¥5,555
        .tag__image