.new
  .item
    .top
      %h3.item__top__ladies
        シャネル
      %a.item__top__mottomiru もっと見る
    .box
      .box__contents

.new
  .item
    .top
      %h3.item__top__ladies
        ルイヴィトン
      %a.item__top__mottomiru もっと見る
    .box
      .box__contents

.new
  .item
    .top
      %h3.item__top__ladies
        シュプリーム
      %a.item__top__mottomiru もっと見る
    .box
      .box__contents

.new
  .item
    .top
      %h3.item__top__ladies
        ナイキ
      %a.item__top__mottomiru もっと見る
    .box
      .box__contents