.new
  .item
    .top
      %h3.item__top__ladies
        レディース新着アイテム
      %a.item__top__mottomiru もっと見る
    .box
      .box__contents

.new
  .item
    .top
      %h3.item__top__ladies
        メンズ新着アイテム
      %a.item__top__mottomiru もっと見る
    .box
      .box__contents

.new
  .item
    .top
      %h3.item__top__ladies
        家電・スマホ・カメラ新着アイテム
      %a.item__top__mottomiru もっと見る
    .box
      .box__contents

.new
  .item
    .top
      %h3.item__top__ladies
        おもちゃ・ホビー・グッズ新着アイテム
      %a.item__top__mottomiru もっと見る
    .box
      .box__contents