%section.mypage__user__transactions
  %h2.mypage__user__transaction 購入した商品
  %ul.mypage__user__transaction__tabs
    %li.mypage__user__transaction__now
      %h3
        %a{href: "#"}
          取引中
    %li
      %h3
        %a{href: "#"}
          過去の取引
  .mypage__user__tab__content
    %ul.mypage__user__tab__content__infos.active
      %li.mypage__user__tab__content__info 取引中の商品がありません
    -# 非同期実装
    -# %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
    -#   %li.mypage-item-not-found 過去に取引した商品がありません