body {
    background: #f5f5f5;
}
.main__contents {
    margin: 0 auto;
    width: 1020px;
    height: 100%;
    padding: 40px 0 40px;
    box-sizing: border-box;
    @include clearfix; 
    .contents {
        float: right;
        width: 700px;
        .mypage__user__image {
            height: 200px;
            position: relative;
            padding: 20px;
            background: url(https://msp.c.yimg.jp/yjimage?q=xogHhiMXyLF912UZcjJTIEMHugLtZCm6Ld4tBBdAjC3ofbvFMjLy5GLCB0sT69CWHLn0EPH64BHxmFNeYe12sTP9nbxWX7j.u9jjp077kSBkv8hA8CLxueSwR_smlmMJLe1cv5VWXZvVJvAwrw--&sig=138vjte96&x=259&y=194);

                background-color: burlywood;

            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            a {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                color: #333;
            }
            figure {
                overflow: hidden;
                width: 60px;
                height: 60px;
                margin: 20px auto;
                border-radius: 50%;
            }
                h2 {
                    margin: 8px 0 0;
                    font-size: 14px;
                }
                .mypage__user__evaluation__exhibit {
                    margin: 8px 0 0;
                    font-size: 0;
                    .evaluation__exhibit {
                        display: inline-block;
                        font-size: 14px;
                        span {
                            margin: 0 0 0 8px;
                            font-size: 16px;
                        }
                    }
                    .left__margin {
                        margin: 0 0 0 16px;
                    }
                }
        }
        ///////////////////////////////////////////////////////
        .mypage__user__info__todo__contents {
            margin: 0;
            background: #fff;
            .mypage__user__info__todo__tabs {
                border: 0;
                background: #eee;
                font-size: 0;
                .mypage__user__info__tabs {
                    background: #fff;
                    width: 50%;
                    display: inline-block;
                    text-align: center;
                    vertical-align: top;         
                    h3 {
                        font-size: 22px;
                        a {
                            border-top: 2px solid #ea352d;
                            position: relative;
                            display: block;
                            color: #333;
                            font-size: 16px;
                            line-height: 72px;  
                            .mypage__user__info__todo__tab {
                                top: 16px;
                                right: 2px;
                            }                      
                        }
                    }
                }
                li {
                    width: 50%;
                    display: inline-block;
                    text-align: center;
                    vertical-align: top; 
                    h3 {
                        font-size: 22px;
                        a {
                            position: relative;
                            display: block;
                            color: #333;
                            font-size: 16px;
                            line-height: 72px;  
                            .mypage__user__info__todo__tab {
                                top: 16px;
                                right: 2px;
                            }                      
                        }
                    }    
                }
            }
            .mypage__user__info__list {
                display: block;
                li {
                    position: relative;
                    border-bottom: 1px solid #eee;
                    .mypage__user__infos {
                        display: block;
                        // min-height: 80px;
                        padding: 16px;
                        color: #333;
                        figure {
                            position: relative;
                            overflow: hidden;
                            float: left;
                            width: 48px;
                            height: 48px;
                            margin: 0;
                            padding: 0;
                            img {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                z-index: 1;
                                width: 100%;
                                vertical-align: middle;
                            }
                        }
                        .mypage__user__info {
                            margin: 0 40px 0 68px;
                            .mypage__user__info__text {
                                overflow: hidden;
                                display: block;
                                display: -webkit-box;
                                max-height: 4.4em;
                            }
                            time {
                                display: inline-block;
                                color: #888;
                                .icon__time {
                                    margin: 0 8px 0 0;
                                    font-size: 16px;
                                    vertical-align: middle;
                                }
                                i {
                                    display: inline-block;
                                }
                                span {
                                    vertical-align: middle;
                                }
                                
                            }
                        }
                        .icon__arrow__right {
                            position: absolute;
                            top: 50%;
                            right: 16px;
                            -webkit-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                        }
                        .arrow__right {
                            position: absolute;
                            top: 50%;
                            right: 16px;
                            -webkit-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                        }
                    }
                }
                .mypage__link__more__list {
                    border: 0;
                    position: relative;
                    padding: 16px;
                    a {
                        display: block;
                        height: 56px;
                        margin: 0 auto;
                        background: #eee;
                        color: #333;
                        line-height: 56px;
                        text-align: center;
                    }
                }
            }
        }
        ////////////////////////////////////////////////////
        .mypage__user__transactions {
            margin: 40px 0 0;
            background: #fff;
            .mypage__user__transaction {
                padding: 0 16px;
                background: #fafafa;
                font-size: 16px;
                line-height: 72px;
                font-weight: bold;
            }
            .mypage__user__transaction__tabs {
                border: 0;
                background: #eee;
                font-size: 0;
                .mypage__user__transaction__now {
                    background: #fff;
                    border-top: 2px solid #ea352d;
                }
                li {
                    width: 50%;
                    display: inline-block;
                    text-align: center;
                    vertical-align: top;
                    h3 {
                        font-size: 22px;
                        font-weight: bold;
                        a {
                            position: relative;
                            display: block;
                            color: #333;
                            font-size: 16px;
                            line-height: 72px;
                            touch-action: manipulation;  
                        }
                    }
                }   
            }
            .mypage__user__tab__content__infos, .active {
                display: block;
                .mypage__user__tab__content__info {
                    border: 0;
                    padding: 160px 0 60px;
                    background: url(/mercari_icon_gray.png);
                    background-repeat: no-repeat;
                    background-position: center 40px;
                    background-size: 78px 85px;
                    text-align: center;
                    font-size: 16px;
                    color: #ccc;
                    font-weight: 600;
                }
                
            }
        }
    }
/////////////////////////////////////////////////////
    .mypage__side__lists {
        float: left;
        width: 280px;
        margin: 0 40px 0 0;
            li {
                border: 0;
                border-top: 1px solid #eee;
                .mypage__side__nav__list {
                    position: relative;
                    display: block;
                    // min-height: 48px;
                    padding: 16px;
                    background: #fff;
                    font-size: 14px;
                    color: #333;
                }
                .active {
                    background: #eee;
                    font-weight: 600;
                }
                a {
                    touch-action: manipulation;
                    .side__arrow__right {
                        color: #333;
                        position: absolute;
                        top: 50%;
                        right: 16px;
                        color: #ccc;
                        -webkit-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        -webkit-transition: all ease-out .2s;
                        transition: all ease-out .2s;
                    }
                    .active {
                        color: #333;
                        position: absolute;
                        top: 50%;
                        right: 16px;
                        -webkit-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        -webkit-transition: all ease-out .2s;
                        transition: all ease-out .2s;
                    }  
                }
            }
        .mypage__side__nav__head {
            margin: 40px 0 0;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

