.main
  .top-image
  .popular
    %h2.category
      人気のカテゴリー
    .popularCategory
      %ul.lists
        %li.list
          %a.tag1 レディース
        %li.list
          %a.tag2 メンズ
        %li.list
          %a.tag3 家電・スマホ・カメラ
        %li.list
          %a.tag4 おもちゃ・ホビー・グッズ
  .new
    .new__item
      %h3.new__item__ladies
        レディース新着アイテム