.single-container
  = render 'shared/sub_header'
  %main.single-main
    %section.l-single-container
      %h2.l-single-head
      %form.sell-form
        .uploud-box
          %h3.uploud-head 出品画像
          %span.form-require　必須
        .sell-content
        .sell-content
        .sell-content
        .sell-content
        .sell-content


            
