%body
  .single-container
    %main.single-main
      %section.l-single-container
        %h2.l-single-head.registration 会員登録完了
        .login-form-inner
          .l-single-content
            %p ありがとうございます。会員登録完了しました。
            =link_to root_path,class: "item-buy-btn" do
              TOPへ戻る

