%main.main__contents
  = render "/shared/mypage-side-manu"
  .main__contents__contents
    .create-new-content
      %h2 クレジット情報入力
      = form_tag(user_cards_path, method: :post, id: 'charge-form') do
        .form-main-content
          .form-top-content
            =label_tag :card_no, "カード番号" , class: "label-default"
            =label_tag :hissu, "必須", class: "hissu"
            =text_field_tag :card_no, "", name: "number", class: "number text", id: "payment_card_no", placeholder: "半角数字のみ"
            %ul
              %li
                =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2482339763', width: "49",height: "20",alt: ""
              %li
                =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2482339763',width: "34",height: "20",alt: ""
              %li
                =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2482339763',width: "30",height: "20",alt: ""
              %li
                =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2482339763',width: "32",height: "20",alt: ""
              %li
                =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2482339763',width: "21",height: "20",alt: ""
              %li
                =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2482339763',width: "32",height: "20",alt: ""
              %li
                =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2482339763',width: "32",height: "20",alt: ""
   
          .form-middle-content.default-content
            %div
              =label_tag :"", "有効期限" , class: "label-default"
              =label_tag :hissu, "必須" , class: "hissu"
             
            .selects-content
              .left-content.selects-default-content
                = select_tag 'exp_month', options_for_select({"1": 1,"2": 2,"3": 3,"4":4,"5":5,"6":6,"7":7,"8":8,"9":9,"10":10,"11":11,"12":12}), class: "exp_month left-select select-content", id: "payment_expiration_date_1i"
                %span 月
              .right-content.selects-default-content
                = select_tag 'exp_year', options_for_select({"19": 2019,"20": 2020,"21": 2021,"22":2022,"23":2023,"24":2024,"25":2025,"26":2026,"27":2027,"28":2028}), class: "exp_year right-select select-content", id: "payment_expiration_date_2i"
                %span 年
          .form-bottom-content.default-content 
            =label_tag :"", "セキュリティコード" , class: "label-default"
            =label_tag :"hissu", "必須" , class: "hissu"
            =text_field_tag :card_no, "", name: "cvc", class: "cvc text", id: "payment_card_cvc", placeholder: "カード背面４桁もしくは３桁の番号"
            .under-box
              .under-box__inner-box
                %span.question ?
                カード裏面の番号とは？
          .form-buttom-content.default-content 
            =submit_tag "追加する", class: "add-btn",id: "submit-button"